data/raw_data
training/.DS_Store
control/.DS_Store
.DS_Store
reports/presentations
control/ilqr
analysis/.DS_Store
saved
control/prototyping2.ipynb
control/prototyping.ipynb
model/__pycache__
analysis/__pycache__
control/__pycache__
.floydexpt
.floydignore
.ipynb_checkpoints
floyd.yml
training/training_prototyping.ipynb
training/__pycache__
